@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

:root {
    font-size: 62.5%;

    --color-base-white: rgb(255, 255, 255);
    --color-base-gray-100: #f5f5f5;
    --color-base-gray-300: #8d8d99;
    --color-base-gray-500: #3D3D3D;
    --color-base-gray-900: #202024;
}

html, body, input {
    font-family: 'Mulish', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;

    color: var(--color-base-gray-900);
}

#app {
    display: grid;
    height: 100vh;

    grid-template-rows: max-content 1fr max-content;
}

.container {
    padding: 1.6rem 3.2rem;
    width: min(112rem, 100%);
    margin-inline: auto;
}

/* Header */
nav, ul {
    display: flex;
    align-items: center;
    gap: 5rem;
    font-weight: 700;
}

ul li {
    list-style: none;
}

ul li:hover {
    color: var(--color-base-gray-900);
}

form {
    flex: 1;
}

.input-wrapper label {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
}

.input-wrapper input {
    color: var(--color-base-gray-500);
    background-color: var(--color-base-gray-100);

    font-size: 1.6rem;
    font-weight: 400;

    width: 100%;
    padding: 1.3rem;
    border: 0;
    border-radius: .6rem;
    font-weight: 600;
}

.input-wrapper input ::placeholder {
    color: var(--color-base-gray-300);
    opacity: 0.56;
}

.avatar {
    height: 4.0rem;
    width: 4.0rem;
    border-radius: 50%;
}

/* Gallery */
main {
    background-color: var(--color-base-gray-100);
    overflow-y: scroll;
}

.container h1 {
    color: var(--color-base-gray-900);
    font-size: 2.4rem;
    font-weight: 700;

    padding-top: 1.8rem;
}

section#gallery {
    margin-top: 3.2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

figure {
    border-radius: 8px;
}

.item {
    border-radius: 8px;
    background-color: var(--color-base-white);
    overflow: hidden;
}

.item img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;

    /* 
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
     */

    transition: all 400ms ease-out;
}

.item img:hover {
    filter: hue-rotate(20deg) contrast(101%) saturate(200%);
    transform: scale(1.1) rotate(-2deg);
}

.item h2 {
    color: var(--color-base-gray-900);
    font-size: 1.8rem;
    font-weight: 700;

    margin-bottom: 1.2rem;
}

.item figcaption {
    padding: 2.2rem;
}

.tags span {
    padding: .6rem;
    background-color: var(--color-base-gray-100);

    font-size: 1.2rem;
    text-transform: uppercase;
}

/* Footer */

footer {
    --startY: 100%;

    text-align: center;
    font-weight: 600;
    color: var(--color-base-gray-900);

    animation: move  .5s;
}

/* Aplicando animações no projeto */

/* Movimento */
header {
    --startY: -100%;
    animation: move .5s;
}

footer {
    --startY: 100%;
    animation: move .5s;
}

@keyframes move {
    from {
        transform: translateY(var(--startY));
    }
}

/* Aparição */
.item {
    --delay: 200ms;
    animation: appear .4s var(--delay) backwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
}